In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('iris.data', header=None)
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [3]:
x = df[0].tolist()
y = df[1].tolist()

In [4]:
# # Standardization

# def standardize(array):
#     length = len(array)
#     sq_from_mean = []
#     mean = sum(array)/ length
#     for i in range(0, length):
#         sq_from_mean.append((mean - array[i]) ** 2)

#     sum_before = sum(sq_from_mean)

#     sd = (sum_before/length)**0.5

#     standard = []
#     for el in array:
#         temp = (el - mean)/sd
#         standard.append(temp)
#     return standard

In [5]:
# x = standardize(x)
# y = standardize(y)

In [6]:
mean_x = sum(x)/len(x)
mean_y = sum(y)/len(y)
def covar_matrix(x,y):
    length = len(x)
    x_minus_x_bar = []
    y_minus_y_bar = []
    for i in range(0, length):
        x_minus_x_bar.append(x[i] - mean_x)
        y_minus_y_bar.append(y[i] - mean_y)
    xx_sum = 0
    yy_sum = 0
    xy_sum = 0
    for j in range(0, length):
        xx_sum += (x_minus_x_bar[j]*x_minus_x_bar[j])
        yy_sum += (y_minus_y_bar[j]*y_minus_y_bar[j])
        xy_sum += (x_minus_x_bar[j]*y_minus_y_bar[j])
    cov_xx = xx_sum/(length-1)
    cov_yy = yy_sum/(length-1)
    cov_xy = xy_sum/(length-1)
    return [[cov_xx, cov_xy],[cov_xy, cov_yy]]

In [7]:
covar_matrix = covar_matrix(x,y)

In [8]:
print(covar_matrix)

[[0.6856935123042505, -0.03926845637583892], [-0.03926845637583892, 0.18800402684563763]]

In [11]:
values, vectors = np.linalg.eig(covar_matrix)

In [21]:
print(values, vectors)

[0.6887728  0.18492474] [[ 0.99693955  0.07817635]
 [-0.07817635  0.99693955]]

In [29]:
def get_max(values, vectors):
    max_value, index = max(values), values.argmax(axis=0)
    max_vector = [vectors[0][index], vectors[1][index]]
    return max_vector

In [30]:
max_vector = get_max(values, vectors)

In [31]:
print(max_vector)

[0.9969395456330721, -0.07817635418029882]

In [32]:
# Dimensionality reduction
reduced_values = []
for i in range(0, len(x)):
    reduced_values.append((x[i] * max_vector[0]) + (y[i] * max_vector[1]))
print(reduced_values)

[4.810774443097621, 4.6504747110611575, 4.435451531098483, 4.343575211953205, 4.703262853116285, 5.078585765115425, 4.320122305699115, 4.718898123952345, 4.159822573662651, 4.642657075643127, 5.094221035951485, 4.51951021482573, 4.55078075649785, 4.052310983681314, 5.469543947950623, 5.338579451715196, 5.078585765115425, 4.810774443097621, 5.385485264223376, 4.787321536843532, 5.117673942205574, 4.795139172261562, 4.3044870348630555, 4.826409713933681, 4.51951021482573, 4.750168665624464, 4.718898123952345, 4.91046839766093, 4.918286033078959, 4.435451531098483, 4.542963121079819, 5.117673942205574, 4.86356258515275, 5.154826813424641, 4.642657075643127, 4.7345333947884045, 5.20955026135085, 4.642657075643127, 4.152004938244621, 4.8185920785156515, 4.711080488534314, 4.306422340734137, 4.1363696674085615, 4.711080488534314, 4.787321536843532, 4.55078075649785, 4.787321536843532, 4.335757576535175, 4.994527081388177, 4.726715759370374, 6.728412486054548, 6.130248758674705, 6.636536166909271, 5.30336188636721, 6.261213254910132, 5.463661618403675, 6.022737168693367, 4.697380523569336, 6.353089574055408, 4.973009481005168, 4.828345019804763, 5.64741425669423, 5.809649294601774, 5.854619801238872, 5.356150028422337, 6.437148257782656, 5.348332393004307, 5.571173208385011, 6.009037203728389, 5.387420570094457, 5.63177898585817, 5.8624374366569025, 6.0852782520376065, 5.8624374366569025, 6.153701664928795, 6.345271938637379, 6.560295118600053, 6.444965893200687, 5.754925846675565, 5.479296889239734, 5.295544250949179, 5.295544250949179, 5.571173208385011, 5.770561117511625, 5.148944483877694, 5.715837669585416, 6.437148257782656, 6.100913522873666, 5.348332393004307, 5.28772661553115, 5.27990898011312, 5.846802165820843, 5.578990843803041, 4.8048921135506735, 5.371785299258397, 5.448026347567615, 5.455843982985645, 5.95431375580218, 4.8889507972779205, 5.463661618403675, 6.022737168693367, 5.571173208385011, 6.843741711453915, 6.054007710365487, 6.245577984074072, 7.342211484270451, 4.689562888151307, 7.050947255998559, 6.484054070290836, 6.896529853509043, 6.229942713238012, 6.169336935764854, 6.5446598477639935, 5.487114524657764, 5.563355572966982, 6.130248758674705, 6.245577984074072, 7.379364355489519, 7.473175980505879, 5.809649294601774, 6.628718531491241, 5.363967663840367, 7.457540709669819, 6.069642981201547, 6.421512986946596, 6.927800395181163, 5.96213139122021, 5.846802165820843, 6.161519300346825, 6.943435666017223, 7.158458845979897, 7.578752264616134, 6.161519300346825, 6.061825345783517, 5.8780727074929615, 7.441905438833759, 6.014919533275338, 6.138066394092735, 5.747108211257536, 6.636536166909271, 6.437148257782656, 6.636536166909271, 5.571173208385011, 6.529024576927934, 6.421512986946596, 6.444965893200687, 6.0852782520376065, 6.245577984074072, 5.915225578712031, 5.64741425669423]

In [37]:
from sklearn.decomposition import PCA
X = df.iloc[:,0:4]
Y = df.iloc[:,4]
pca = PCA(n_components=2)
pc = pca.fit_transform(X)

p_df=pd.DataFrame(data=pc, columns = ['PCA1', 'PCA2'])
p_df

         PCA1      PCA2
0   -2.684207  0.326607
1   -2.715391 -0.169557
2   -2.889820 -0.137346
3   -2.746437 -0.311124
4   -2.728593  0.333925
..        ...       ...
145  1.944017  0.187415
146  1.525664 -0.375021
147  1.764046  0.078519
148  1.901629  0.115877
149  1.389666 -0.282887

[150 rows x 2 columns]