In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import exp

In [2]:
df = pd.read_csv("Student-University.csv", header=None, names=["x1", "x2", "y"])
df.head()

          x1         x2  y
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [3]:
# # plt.scatter(df["x"], df["y"], s=None, c=None, alpha=0.5)
# plt.scatter(df["x1"], df["x2"], c=None)
# plt.axis([min(df["x1"]), max(df["x1"]), min(df["x2"]), max(df["x2"])]);
# plt.xlabel("x1 values")
# plt.ylabel("x2 values")
# plt.show()

In [4]:
x1 = df["x1"].tolist()
x2 = df["x2"].tolist()
y = df["y"].tolist()

x1_min = min(x1)
x1_max = max(x1)
x2_min = min(x2)
x2_max = max(x2)
for i in range(len(x1)):
    x1[i] = round(((x1[i] - x1_min) / (x1_max - x1_min)), 6)
    x2[i] = round(((x2[i] - x2_min) / (x2_max - x2_min)), 6)
    
print(f"x1\t\t x2")
for i in range(0, len(x2)):
    print(f"{x1[i]} \t {x2[i]}")

x1		 x2
0.065428 	 0.694655
0.003266 	 0.194705
0.082968 	 0.619618
0.431764 	 0.816001
0.701943 	 0.655392
0.215346 	 0.37666
0.445009 	 0.965459
0.644497 	 0.233655
0.659891 	 0.832291
0.779343 	 0.189408
0.943151 	 0.111651
0.644338 	 0.0
0.748874 	 0.672056
0.56337 	 0.983143
0.13587 	 0.665535
0.342734 	 0.858465
0.55915 	 0.324278
0.543049 	 0.23548
0.581959 	 0.912954
0.672504 	 0.248625
0.53481 	 0.179227
0.854504 	 0.515572
0.293482 	 0.267373
0.059528 	 0.199312
0.686053 	 0.562051
0.461698 	 0.576438
0.718533 	 0.208278
0.903776 	 0.12008
0.455379 	 0.287886
0.125084 	 0.503799
0.448916 	 0.618236
0.79327 	 0.387435
0.316031 	 0.476435
0.315134 	 0.568797
0.145882 	 0.594211
0.352252 	 0.316564
0.055278 	 1.0
0.489016 	 0.736892
0.641122 	 0.160697
0.059121 	 0.65383
0.77174 	 0.376538
0.308001 	 0.238083
0.922824 	 0.512196
0.749759 	 0.146705
0.300834 	 0.222943
0.461005 	 0.314324
0.675575 	 0.583817
0.970528 	 0.822143
0.45886 	 0.969229
0.881568 	 0.850978
0.715016 	 0.638088
0.99204 	 0.445254
0.866973 	 0.187316
0.064007 	 0.436425
0.289923 	 0.281271
0.279893 	 0.427821
0.968722 	 0.560429
0.036096 	 0.952086
0.633374 	 0.574535
0.598226 	 0.700937
0.649812 	 0.807965
0.074923 	 0.240489
0.375453 	 0.12683
0.0 	 0.278172
0.209397 	 0.525104
0.523184 	 0.153646
0.149045 	 0.980455
0.272524 	 0.31172
0.719814 	 0.901073
0.525848 	 0.445142
0.038183 	 0.186094
0.487043 	 0.694757
0.606109 	 0.961301
0.43571 	 0.622442
0.412534 	 0.662923
1.0 	 0.611811
0.246606 	 0.847749
0.292384 	 0.662211
0.435677 	 0.174393
0.747722 	 0.177491
0.84357 	 0.574231
0.92843 	 0.221062
0.534054 	 0.527144
0.389569 	 0.423504
0.721064 	 0.88414
0.550526 	 0.805539
0.172234 	 0.706668
0.650989 	 0.876295
0.696249 	 0.967451
0.319471 	 0.441892
0.917821 	 0.681975
0.865566 	 0.833583
0.364393 	 0.072766
0.636871 	 0.794564
0.856927 	 0.21614
0.765817 	 0.260407
0.174904 	 0.827651
0.992649 	 0.559166
0.362356 	 0.502865
0.64093 	 0.863188

In [5]:
x1 = np.array(x1)
x2 = np.array(x2)
y = np.array(y)

X = pd.DataFrame({'x1': x1, 'x2': x2}, columns=['x1', 'x2'])
X.head()

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 111)

In [6]:
x1 = list(x_train["x1"])
x1_test = list(x_test["x1"])
x2 = list(x_train["x2"])
x2_test = list(x_test["x2"])

In [7]:
b = [1,0.5,0.5]
l_rate = 0.3
e = 2.71828
length = len(x1)

In [8]:
def grad_desc(b):
    pred = []
    x = []
    temp = 0
    for i in range(length):
        x.append(b[0] + b[1] * x1[i] + b[2] * x2[i])
    for i in range(length):
        pred.append( 1 / ( 1 + ( e ** ( -1 * x[i] ) ) ) )
    for j in range(3):
        for i in range(length):
            temp = l_rate * (y_train[i] - pred[i]) * (pred[i]) * (1 - pred[i])
            if(j == 1):
                temp *= x1[i]
            if(j == 2):
                temp *= x2[i]
            b[j] += temp 
    return b

In [9]:
for i in range(5):
    b = grad_desc(b)
print(b)

[-0.888556549054473, 1.0604640407707517, 1.066667798345073]

In [10]:
# evaluating on x_test dataframes
x = []
pred = []
length_t = len(x_test)

for i in range(length_t):
    x.append(b[0] + b[1] * x1_test[i] + b[2] * x2_test[i])
for i in range(length_t):
    pred.append( 1 / ( 1 + ( e ** ( -1 * x[i] ) ) ) )
    
print(pred)
for i in range(length_t):
    if (pred[i] > 0.5):
        pred[i] = 1
    else:
        pred[i] = 0
print(pred)

[0.5964264649419027, 0.41213201262516014, 0.4178205820364411, 0.5125720459942209, 0.6925780792449698, 0.4674874359642989, 0.480405784250385, 0.7147364929867149, 0.3954372293178448, 0.5589080029000962, 0.6107830533242982, 0.5319228263899913, 0.5537725602469071, 0.35141410299827064, 0.5590819212090299, 0.523878130224192, 0.3652657682304119, 0.4662023388409456, 0.47342831691883563, 0.5821996088100362]
[1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1]

In [11]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, pred))
print(classification_report(y_test, pred))

[[ 9  1]
 [ 0 10]]
              precision    recall  f1-score   support

           0       1.00      0.90      0.95        10
           1       0.91      1.00      0.95        10

    accuracy                           0.95        20
   macro avg       0.95      0.95      0.95        20
weighted avg       0.95      0.95      0.95        20